<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>


    <!-- development : 开发模式 work : 工作模式 -->


    <!-- 配置类型别名 -->
    <typeAliases>
        <package name="com.Model.Entities"/>
    </typeAliases>

    <!-- 配置映射器 -->
    <mappers>
        <mapper resource="com/Model/Dao/UserDao.xml"/>
    </mappers>

<!--配置数据库日志-->
    <settings>
        <!--开启日志-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>

    </settings>

</configuration>
